 [Desktop Entry]
 Version=1.0
 Type=Application
 Name=Spyder
 GenericName=Spyder
 Comment=Scientific Python Development Environment - Python3
 Exec=bash -c 'export PATH=/home/$USER/anaconda3/bin:$PATH && /home/$USER/anaconda3/bin/spyder'
 Categories=Development;Science;IDE;Qt;Education;
 Terminal=false
 StartupNotify=true
 MimeType=text/x-python
